.clockInfo{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;

    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    align-items: center;

    z-index: 1;
}

.clockHour{
    font-size: 200%;
    margin: auto;
    padding: 0%;
    text-align: center;

}

.clockDay{
    font-size: 100%;
    margin: auto;
    padding: 0%;
    text-align: center;

}

.clockDate{
    font-size: 100%;
    margin: auto;
    padding: 0%;
    text-align: center;

}

@media (orientation: portrait) {
    .TopHalf{
        bottom: 50%;
        right: 50%;
    
    }
}
@media (orientation: landscape) {
    .TopHalf{
        bottom: 50%;
        right: 50%;
        }
}
