.MenuButton{
    height: 42px;
    width: 42px;
    border: solid 1px lightgray;
    border-radius: 30%;
    position: absolute;
    left: 15px;
    top: 15px;
    display: flex;
    align-items: center;

}

.bi-list::before{
    margin-left: 8px;
    color: cornflowerblue;
    font-size: x-large;
}

