.NAAT{
    position: fixed;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    display: flex;
  
    height: 45px;
    width: 135px;
    border: solid 1px lightgray;
    border-radius: 20%;
    background-color: white;
    box-shadow: 2px 2px 2px lightgray;

    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;

}

.NAButton{
    padding-left: 6px;
    padding-top: 2px;
    font-size: 70%;
}

.bi-plus-lg::before{
    display: block;
    padding-left: 20px;
    color: cornflowerblue;
    font-size: 26px;
}

.TemplatesButton{
    padding-top: 3px;
    padding-right: 5px;
}

.Templates{
    height: 50%;
    width: 35px;
    padding-left: 10px;
}

.TemplatesText{
    height: 50%;
    font-size: 70%;
    padding: 0%;
    margin: 0%;
}

@media (orientation: landscape) {
    .NAAT {
        left: 75%;
        top: 92%;
        transform: translate(-50%, -50%);
    }
}