.TopHalf{
    margin: 0%;
    padding: 0%;
    position: fixed;
    background-color: white;
}

@media (orientation: portrait) {
    .TopHalf{
        height: 50%;
        width: 100%;
        bottom: 75%;
        right: 50%;
        transform: translate(50%, 50%);

    }
}
@media (orientation: landscape) {
    .TopHalf{
        height: 100%;
        width: 50%;
        bottom: 50%;
        right: 75%;
        transform: translate(50%, 50%);
    }
}
